*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}
body{
    background-color: #030303;
}
.container{
    width : 1230px;
    margin: 0 auto;
}
#headerContainer{
    display: flex;
    justify-content: space-between;
    padding : 10px 20px;
    margin-top : 10px;
    border: 1px solid black;
    border-radius : 10px;
    align-items: center;
    background-image: linear-gradient(to right,#2A2A2E,#2A2A2E);
    height : 90px;
}
#title{
    display : flex;
    gap : 10px;
    align-items: center;
}
#emoji{
    width : 40px;
    height : 40px;
    border-radius : 10px;
    display : flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to right,#FF6B35,#F7931E);
}
#title h1{
    font-family : "Righteous";
    color : #FF6B35;
}
#buttonContainer{
    display : flex;
    align-items : center;
}
#StreakCountBtn{
    width : 130px;
    height : 40px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(-45deg,#4ECDC4,#45B7AA);
    margin-right : 10px;
    font-family: "Work Sans";
}
#EmojiButton{
    font-size: 1.3em;
    border:none;
    border-radius:25px;
    height : 40px;
    width : 40px;
    background-image:linear-gradient(to right,#FF6B35,#F7931E);
    cursor: pointer;
}
main{
    display : flex;
    gap : 25px;
}
#WorkoutInfos{
    display : flex;
    justify-content : space-between;
    width : 900px;
    margin-top : 20px;
}
.info-card{
    display:flex;
    flex-direction:column;
    gap : 0px;
    width : 290px;
    background-image: linear-gradient(to right,#2A2A2E,#2A2A2E);
    height : 150px;
    border-radius : 10px;
}
.info-title{
    font-family:"Work Sans";
    font-weight : 700;
    font-size : 1.2em;
    color : #A8A8A8;
    margin-left : 20px;
    margin-top : 25px;
}
.info {
    font-size: 34px;
    margin-left : 20px;
    margin-top: 10px;
    font-family:"Work Sans";
    margin-bottom: 0px;
}
.cheers{
    margin-left : 20px;
    margin-top : 5px;
    font-family:"Work Sans";
    color : #4ECDC4;
}
.cheers:hover{
    text-decoration: underline;
    cursor:pointer;
}
#motivation{
    width : 900px;
    height : 250px;
    border : 2px solid transparent;
    margin-top : 20px;
    background-image:linear-gradient(-45deg,#FF6B35,#F7931E);
    border-radius : 25px;
}
#motivationTitle{
    margin-top : 50px;
    margin-left : 30px;
    font-family : "Righteous";
    color : white;
    font-size : 38px;
}
#motivationP{
    margin-left : 30px;
    font-family : "Work Sans";
    margin-top : 18px;
}
#motivationBtn{
    margin-left : 30px;
    margin-top : 35px;
    margin-bottom: 50px;
    width : 150px;
    height : 50px;
    border-radius : 50px;
    border : 3px solid white;
    color : white;
    font-family : "Inter";
    background-color: transparent;
    cursor : pointer;
}
#mainTitle{
    font-family : "Righteous";
    font-size : 25px;
    margin-top : 20px;
    margin-bottom : 10px;
}
#cardContainer{
    display : flex;
    flex-wrap: wrap;
    gap : 10px;
    width : 900px;
}
.card{
    display:flex;
    flex-direction: column;
    gap : 0px;
    width : 290px;
    background-image: linear-gradient(to right,#2A2A2E,#2A2A2E);
    height : 250px;
    border-radius : 10px;
}
.exerciseType{
    width : 100px;
    height : 25px;
    border-radius : 30px;
    margin-top : 20px;
    margin-left : 15px;
    color : #FF7A1C;
    background-color: #3C2A1E;
    border : none;
    font-weight : 600;
}
.exerciseTitle{
    font-family : "Work Sans";
    font-size : 24px;
    margin-top : 15px;
    margin-left : 15px;
}
.details{
    font-family : "Work Sans";
    margin-top : 25px;
    margin-left : 15px;
    font-size : 16px;
    color : #A8A8A8;
}
hr{
    margin-top : 25px;
    color : #A8A8A8;
    opacity: 40%;
}
.infoContainer{
    margin-top : 20px;
    display : flex;
    justify-content: space-around;
    align-items: center;
}
.exerciseInfo{
    font-size : 18px;
}
.activeBtn{
    background-image:linear-gradient(to right,#FF6B35,#F7931E);
    border-radius : 20px;
    padding : 10px 20px;
    border : none;
    cursor : pointer;
}
#sideBarContainer{
    background-image: linear-gradient(to right,#2A2A2E,#2A2A2E);
    margin-top : 20px;
    width : 300px;
    height : 800px;
    border-radius : 20px;
    display : flex;
    flex-direction: column;
    align-items: center;
}
#totalRepCouter{
    margin-top : 20px;
    width : 280px;
    height : 150px;
    display : flex;
    flex-direction: column;
    align-items: center;
    gap : 10px;
    border-radius : 20px;
    background-image: linear-gradient(-45deg,#4ECDC4,#45B7AA);
}
#repCounterTitle{
    margin-top : 30px;
    font-family: "Work Sans";
    letter-spacing: 2px;
    color : #E8E8E8;
    font-size : 20px;
    font-weight : 350;
}
#repCounter{
    font-family: "Righteous";
    font-size : 48px;
    color : #E8E8E8;
}
#notificationTitle{
    margin-top : 25px;
    font-family: "Righteous";
    transform: translateX(-48px);
}
#notification{
    width : 280px;
    height : 590px;
    display : flex;
    flex-direction: column;
    gap : 10px;
    margin-top : 10px;
    overflow: auto;
    scrollbar-width: none;
}
#notification::-webkit-scrollbar{
    display : none;
}
/* we'll use these in js */
.activity{
    background-color: #a8a8a83b;
    height : 70px;
    display : flex;
    min-height : 70px;
    flex: 0 0 70px;
    flex-direction: column;
    gap : 8px;
    justify-content:center;
    border-radius : 10px;
    border-left : 3px solid #FF6B35;

}
.activityContent{
    margin-left :12px; 
    font-family : "Righteous";
    font-weight : 450;
}